@*=====================================================================================================================================
===The idea behind this code is applied to the looping through model elements that are done in ASP.Net Core Razor Pages.===============
=======================================================================================================================================
==For more details, try this linkhttps://www.aspsnippets.com/Articles/ASPNet-Core-Razor-Pages-Looping-through-Model-Items.aspx.========
==For NavigationManager, try this linkhttps://blazor-university.com/routing/navigating-our-app-via-code/.==============================
======================================================================================================================================*@

@page "/sales"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Sales Record</PageTitle>
<MudText Typo="Typo.h5" Color="Color.Primary" Class="mt-4 mb-2">Sales</MudText>
<MudText Color="Color.Surface" Class="mb-4">View sales records by date covered </MudText>

<MudGrid>
   
        <table class="table">
            <thead>
                <tr>
                    <th>DateTime</th>
                    <th>Quantity</th>
                    <th>Tax Amount</th>
                    <th>Discount</th>
                    <th>Total</th>
                    <th>AmountDue</th>
                    <th>Amount Paid</th>
                    <th>Balance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sale in sales)
                {
                    <tr>
                        <td>@sale.DateTime</td>
                        <td>@sale.Qnty</td>
                        <td>@sale.TaxAmount</td>
                        <td>@sale.Discount</td>
                        <td>@sale.TotalAmount</td>
                        <td>@sale.AmountDue</td>
                        <td>@sale.AmountPaid</td>
                        <td>@sale.Balance</td>
                        <td>
                            <button @onclick="() => Details(sale.Id)" class="btn btn-success">Details</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
   
</MudGrid>


@code {

    private SalesMasterView[]? sales;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await Get();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private async Task Get() =>
        sales = await Http.GetFromJsonAsync<SalesMasterView[]>("api/Sale");

    private void Details(int id) =>
        NavigationManager.NavigateTo($"Sale/{id}");

    private void Pos() =>
        NavigationManager.NavigateTo("pos");
}
