@if (posCart != null)
{
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div style="height: 350px; overflow-y: scroll;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var row in posCart.Rows)
                                {
                                    <tr>
                                        <td>@row.Product.Name</td>
                                        <td>@row.Product.Price</td>
                                        <td>@row.Quantity</td>
                                        <td class="text-end">
                                            <button @onclick="() => OnRemoveProduct.InvokeAsync(row.Product)" class="btn btn-danger">Delete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Quantity
        </div>
        <div class="col-md-6 text-end">
            @posCart.Quantity
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Tax
        </div>
        <div class="col-md-6 text-end">
            @posCart.Tax
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Total
        </div>
        <div class="col-md-6 text-end">
            @posCart.Total
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Discount (%)
        </div>
        <div class="col-md-6 text-end">
            @posCart.DiscountAmount
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Due
        </div>
        <div class="col-md-6 text-end">
            @posCart.Due
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <AddDiscount CurrentDiscountAmount="posCart.DiscountAmount"
                           OnApplyDiscount="HandleApplyDiscount" />
        </div>
        <div class="col-md-6">
            <AddDiscount AmountDue="posCart.Due"
                              OnAddPayment="HandleAddPayment"
                              ButtonText="Finish & Pay" />
        </div>
    </div>
}

@code {
    [Parameter] public PosCart posCart { get; set; }
    [Parameter] public EventCallback<ProductView> OnRemoveProduct { get; set; }
    [Parameter] public EventCallback<PaymentDto> OnAddPayment { get; set; }

    public void HandleApplyDiscount(decimal discountAmount) => posCart.DiscountAmount = discountAmount;

    public async Task HandleAddPayment(PaymentDto addPaymentDTO) => await OnAddPayment.InvokeAsync(addPaymentDTO);
}